<!DOCTYPE html>
<html lang='en' ng-app='portfolio'>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header>
    <div ng-controller='navCtrl as nav'>
      <div class='row'>
        <div class='col-xs-4' id='items' ng-show="nav.DataFactory['tab']!=='name'">
          <a href='' ng-click="nav.selectTab('name')" id='nametab'>ALAN J CAMPBELL</a>
        </div>
        <div class='col-xs-4' id='items'  ng-show="nav.DataFactory['tab']!=='work'">
          <a href='' ng-click="nav.selectTab('work')" id='work'>WORK</a>
        </div>
        <div class='col-xs-4' id='items'  ng-show="nav.DataFactory['tab']!=='about'">
          <a href='' id='about' ng-click="nav.selectTab('about')" >ABOUT</a>
        </div>
        <div class='col-xs-4' id='items'  ng-show="nav.DataFactory['tab']!=='contact'">
          <a href='' ng-click="nav.selectTab('contact')" id='contact'>CONTACT</a>
        </div>
      </div>
    </div>
  </header>

  <div class='' id='app'>

    <div ng-controller='nameCtrl as name' ng-show="name.DataFactory['tab']==='name'" id='nameCont'>

      <div class='row ' id='head'>
        <p class='head'>ALAN CAMPBELL</p>
      </div>
      <div class='row'>
        <p class='dots'><span class='dot1'>.</span>  <span class='dot2'>.</span> <span class='dot3'>.</span></p>
      </div>
      <div class='row' id='title'>
        <p class='title'>FullStack Web Developer</p>
      </div>
    </div>

     <div ng-controller='workCtrl as work' ng-show="work.DataFactory['tab']==='work'" id='workCtrl' id=workCtrl>
        <div class='workContainer'>
          <div class="row">
            <div class='col-md-4' id='box1'>
              a
            </div>  
            <div class='col-md-4' id='box2'>
              b
            </div>
            <div class='col-md-4' id='box3'>
              c
            </div>
          </div>
          <div class="row">
            <div class='col-md-4' id='box4'>
              d
            </div>  
            <div class='col-md-4' id='box5'>
              e
            </div>
            <div class='col-md-4' id='box6'>
              f
            </div>
          </div>
           <div class="row">
            <div class='col-md-4' id='box7'>
              g
            </div>  
            <div class='col-md-4' id='box8'>
              h
            </div>
            <div class='col-md-4' id='box9'>
              i
            </div>
          </div>

        

      



    </div>   <!-- end of work controller -->
    
    <div ng-controller='aboutCtrl as about' ng-show="about.DataFactory['tab']==='about'">
      <div class='row' id='head'>
        <p class='head'>About Stuff</p>
      </div>
    </div>
    <div ng-controller='contactCtrl as contact' ng-show="contact.DataFactory['tab']==='contact'">
      <div class='row' id='head'>
        <p class='head'>Contact Stuff</p>
      </div>
    </div>


  </div>
  

  <footer>
    <div id='tree'>
      <span id ='con' class='glyphicon glyphicon-tree-conifer'></span>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
  <script src="portfolio.js"></script>
  <script src="controllers/work.js"></script>
  <script src="controllers/navbar.js"></script>
  <script src="controllers/name.js"></script>
  <script src="controllers/about.js"></script>
  <script src="controllers/contact.js"></script>
  <script src="dataFactory.js"></script>
  <script src="jquery.js"></script>
</body>
</html>