html,body,h1,h2,h3,h4,p,div,ul,li,ol {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size:100%;
}

a, a:hover {
  text-decoration: none;
}

body {
  background-color: coral;
}

header {
  position: fixed;
  top:0;
  height: 60px;
  width: 100%;
  background-color: whitesmoke;
  z-index: 1;
}

footer {
  position: fixed;
  bottom:0;
  height: 70px;
  width: 100%;
  background-color: black;
}

#items {
  text-align: center;
  padding: 30px;
}

#work:hover, #about:hover, #contact:hover, #nametab:hover {
  text-decoration: none;
  font-size:20px;
  color: coral;
}
.head {
  color: white;
  font-size: 90px;
  font-family: copperplate;
  text-align: center;
  z-index: 3;
}

#head {
  margin-top: 8%;
}

#work {
  margin-top: 40%
}

.dots {
  font-size: 60px;
  color:white;
  text-align: center;
  position: relative;
  margin: 30px 0 30px 0;
}

.dot1, .dot3 {
  position: relative;
}

.title {
  color:white;
  text-align: center;
  font-size: 30px;
}

.titleSwitch {
   transform: scale(2) rotateY(180deg);
   transition: all 4s;
   transform: scale(2) rotateX(360deg);
   color:black;
}

#title {
  margin-top: 5%;
  position: relative;
  text-align: center;
  z-index: 1;
}

.shrink {
   transform: scale(1);
   top:40px;
   transition: all 3s;
   color:white;
}

#tree {
   transition: all 3s;
   color:white;
   text-align: center;
   font-size: 60px;
   position: relative;
   bottom: 35px; 
   z-index: -1;
}

.grow{
   transform: scale(4);
   top:-111px;
   transition: all 3s;
   color:darkgreen;
}

.headerGrow {
  transform: scale(1.1);
  transition: all 3s;
  color: black;
}


.workContainer {
  position: relative;
  text-align: center;
  color: black;
  font-size: 10px;
  height: 100%;
  margin: 60px auto  auto;
  z-index: 0;
}

#box1, #box2, #box3{
  height: 250px;
  overflow: hidden;
}

#box7,#box8,#box9 {
  height: 320px;
  overflow: hidden;
}

#box4,#box5,#box6 {
  height: 200px;
  overflow:hidden;
  padding: 0;
  margin:0;
}

#box1, #box3, #box7, #box9 {
  background-color: coral;
}
#box2, #box4, #box6, #box8 {
  background-color: grey;
}

#box5 {
  background-color: white;
  border-radius: 50%;
  border: 5px solid grey;
}

#tankPic {
  height: 70px;
  width: 140px;
  margin: 0 auto;
  margin-top: 10px;

}

.tankRotate {
  transform: rotate(90deg);
  transition: all 1s;
}

.boxTitle {
  font-size: 30px;
  padding-top: 60px;
  color:white;
}

.boxDescrip {
  font-size: 30px;
  padding-top: 60px;
  color: white;
}

.boxLinks {
  font-size: 30px;
  padding-top: 60px;
  color:red;
  text-decoration: none;
}

.glyphicon-arrow-down {
  font-size:20px;
}

#r2{
  background-color: grey;
}

#tankPic{
  margin-top: 60px;
}

#tankPic:hover{
  cursor:pointer;
}

.shake{
  animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

 





