html,body,h1,h2,h3,h4,p,div,ul,li,ol {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size:100%;
}

body {
  background-color: coral;
}

header {
  position: fixed;
  top:0;
  height: 10%;
  width: 100%;
  background-color: whitesmoke;
}

footer {
  position: fixed;
  bottom:0;
  height: 8%;
  width: 100%;
  background-color: black;
}

#items {
  text-align: center;
  padding: 30px;
}

#work:hover, #about:hover, #contact:hover, #nametab:hover {
  text-decoration: none;
  font-size:20px;
  color: coral;
}
.head {
  color: white;
  font-size: 90px;
  font-family: copperplate;
  text-align: center;
}

#head {
  margin-top: 15%;
}

#work {
  margin-top: 40%
}

.dots {
  font-size: 60px;
  color:white;
  text-align: center;
  position: relative;
  margin: 30px 0 30px 0;
}

.dot1, .dot3 {
  position: relative;
}

.title {
  color:white;
  text-align: center;
  font-size: 30px;
}

.titleSwitch {
   transform: scale(2) rotateY(180deg);
   transition: all 4s;
   transform: scale(2) rotateX(360deg);
   color:black;
}

#title {
  margin-top: 5%;
}

.shrink {
   transform: scale(1);
   top:-20px;
   transition: all 3s;
   color:black;
}

#tree {
   transition: all 3s;
   color:white;
   text-align: center;
   font-size: 60px;
   position: relative;
   bottom: 35px; 
}

.grow{
   transform: scale(4);
   top:-106px;
   transition: all 3s;
   color:darkgreen;
}

.headerGrow {
  transform: scale(1.1);
  transition: all 3s;
  color: black;
}

