html,body,h1,h2,h3,h4,p,div,ul,li,ol {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size:100%;
}

body {
  background-color: coral;
}

header {
  position: fixed;
  top:0;
  height: 12%;
  width: 100%;
  background-color: whitesmoke;
}

footer {
  position: fixed;
  bottom:0;
  height: 8%;
  width: 100%;
  background-color: black;
}

#items {
  text-align: center;
  padding: 30px;
}

#items:hover {
  text-decoration: none;
  font-size:30px;
}
.name {
  color: white;
  font-size: 80px;
  font-family: copperplate;
  text-align: center;
}

#name {
  margin-top: 20%;
}

.dots {
  font-size: 40px;
  color:white;
  text-align: center
}

.title {
  color:white;
  text-align: center;
  font-size: 30px;
}

#title {
  margin-top: 3%;
}

#tree {
   color:white;
   text-align: center;
   font-size: 60px;
   position: relative;
   bottom: 35px;
}